<%- include('../partials/nav') %>
    <h1>Create a new account</h1>
<div class="form-container">
    <form action="/auth/sign-up" method="POST" class="login">
        Username:
        <input type="text" name="username" class="inputs"/>

        Password:
        <input type="password" name="password" class="inputs"/>

        Confirm Password:
        <input type="password" name="confirmPassword" class="inputs"/>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>