<%- include('./partials/nav') %>
    <h1><%= user.username %>'s dashboard</h1>
   <% if (recipe){ %>
      <%   recipe.forEach((item)=>{ %>
            <%= item.name %>
        <%  }) %>  
    <% }if(recipe.length===0){%>
  <p> you do not have any recipes</p>
  <a href="/recipes/new">Add Recipe</a>     

   <% }%>

   
</body>
</html>