<%- include('./partials/nav') %>
    <div class="allPosts">
   <h2>Posts</h2>
  <% allPosts.forEach((item) => { %>
  <p class="browser-warning"></p>
  <div class="stack">
    <div class="card">
      <div class="image">
        <img src="<%= item.image.url %>" alt="">
      </div>

      <p><%= item.description %></p>
      <p>By :<%= item.owner.username %></p>
    </div>
  </div>
<% }) %>
</body>
</html>