<%- include('./partials/nav') %>
    <div class="allPosts">
    <H2>Posts</H2>
    <% allPosts.forEach((item)=>{%>
      <img src="<%= item.image.url %>" alt="" with="100" height="100">
      <h3>Description</h3>
     <%=  item.description %>
     <h3>Posted by</h3>
     <%= item.owner.username %>
    <% }) %>
   </div>
</body>
</html>