<%- include('../partials/nav') %>
<div class="add-posts">
  <div class="head-post">edit redbull</div>
  <div class="content-post">
    <form action="/redbulls/<%= redbull._id %>/?_method=PUT" method="post" enctype="multipart/form-data">
      <label for="flavor">Flavor</label>
      <input type="text" name="flavor" id="flavor" value="<%= redbull.flavor %>" class="input-post">
      <br>

      <label for="withSuger">With Sugar?</label>
      <input type="checkbox" name="withSuger" id="withSuger" checked>
      <br>

      <label for="image">Add Image</label>
      <input type="file" name="image" id="image" accept="image/jpeg,image/png,image/webp">
      <br><br>

      <button type="submit" class="post-button">Add Redbull</button>
    </form>
  </div>
</div>
</body>
</html>