<%- include('../partials/nav') %>
    <h1>Crete a New Redbull</h1>
    <form action="/redbulls/<%= redbull._id %>/?_method=PUT" method="post" enctype="multipart/form-data">
        <label for="flavor">flavor</label>
        <input type="text" name="flavor" value="<%= redbull.flavor%>">
        <br>
        <label for="withSuger"></label>
        <label for="withSuger">With Suger?</label>
        <input type="checkbox" name="withSuger" checked> 
        <br>
        <label for="image">add image</label>
        <input type="file" name="image" id="image" accept="image/jpeg,image/png,image/webp" >
        <br>
        <button type="submit">Add Redbull</button>
    </form>
</body>
</html>