<%- include('../partials/nav') %>
    <ul>
    <h1>Index</h1>
   <%   allRecipes.forEach((item)=>{%>
<li>
    <a href="/recipes/<%= item._id %>">
      <%= item.name  %>  
    </a>
     
</li>
  <%   }) %>
</ul>
</body>
</html>